.boton-clear {
    height: 80px;
    font-size: 1.6em;
    flex-grow: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ac0246;
    color: white;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 25px;
    margin-top: 8px;
}

.boton.clear:hover {
    background-color: #ebb000;
}